{% extends 'base.html' %} {% block title %} {{ super() }} - категории {% endblock %} {% block content %}
<div class="category_block">
    {% for category in category_list %}
    <a href="{{ url_for('category', category_name=category.cat_name) }}" class="category">
        <div class="category_content">
            <img src="{{ url_for('static',filename='img/') }}{{ category.img }}" alt="" class="category_img">
            <p class="category_name">{{ category.name }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}