* {
    padding: 0;
    margin: 0;
}

.container {
    background: #f0f0f0
}

.menu {
    background-color: #8d18a5;
}

.nav-link {
    color: lavender;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-link:hover {
    background-color: #731386;
}

.nav-link:active {
    background-color: #590f68;
}

.footer {
    background-color: #1c1a1d;
    padding: 40px 60px;
}

.contacts {
    color: #a5a5a5;
    margin-bottom: 10px;
}

.contact {
    color: #413d42;
}